<link rel="stylesheet" href="{{cssUrlBase}}/gh-fork-ribbon.min.css">
{{!template-lint-disable no-html-comments}}
<!--[if lt IE 9]>
  <link rel="stylesheet" href="{{cssUrlBase}}/gh-fork-ribbon.ie.min.css">
<![endif]-->

<a class="github-fork-ribbon" href={{url}} title={{title}}>{{title}}</a>
